@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Victor Vinicius @ViewData["Aluno"]</p> 

<address>
    <strong> More Information: </strong> <a href="https://github.com/Foqsz">GitHub</a>
