@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Sistema de Acompanhamento de Vendas</h1>
    <p>Explore nossas funcionalidades e comece a gerenciar suas vendas de forma eficiente.</p>
    <p>Este é um projeto desenvolvido por Victor Vinicius Alves de Lima Souza durante o curso de C# do professor Nelio Alves na Udemy.</p>
    <p>Conecte-se comigo no <a href="https://www.linkedin.com/in/victor-vinicius-2a9166255/">LinkedIn</a> e confira meus projetos no <a href="https://github.com/Foqsz">GitHub</a>.</p>
    <img src="https://i.imgur.com/oYl0k5R.png" alt="LinkedIn Logo" width="100" height="100">
    <img src="https://i.imgur.com/VZLdg9G.png" alt="GitHub Logo" width="100" height="100">
</div>
