@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1> 

<h2>Desenvolvedor Jr</h2>
<p>Olá! Meu nome é Victor Vinicius Alves de Lima Souza, e sou um entusiasta da programação e desenvolvedor júnior. Estou empenhado em dedicar meu tempo ao aprendizado contínuo e ao aprimoramento das minhas habilidades nesta fascinante área da tecnologia.</p>

<h2>Interesses e Foco Atual</h2>
<ul>
    <li>🚀 Desenvolvedor Júnior</li>
    <li>💻 Estudante de C# e .NET</li>
    <li>🌐 Explorando o vasto mundo do desenvolvimento de software</li>
</ul>

<h2>Projetos em Destaque</h2>
<p>Xadrez de Console</p>
<p>Sistema Web Asp Net Core MVC</p>
  
<h2>Conecte-se Comigo</h2>
<ul>
    <li>📧 Email: contatovictorvinicius05@gmail.com</li>
    <li>💼 LinkedIn: <a href="https://www.linkedin.com/in/victor-vinicius-2a9166255/">linkedin.com/in/victor-vinicius-2a9166255/</a></li>
    <li>🌐 GitHub: <a href="https://github.com/Foqsz">Foqsz</a></li>
</ul>
